.artist-card__searched {

    border: 3px solid #fff;
    border-radius: 200%;
    padding: 30px;
    margin-left: 10px;
    margin-right: 38px;
    margin-bottom: 10px;
    display: inline-block; 
    text-align: center; 
    width: 20%;
    cursor: pointer;

}

.artist-name__searched {

    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;

}

.artist-img__searched {

    border: 1px solid #fff;
    width: 100px; 
    height: auto; 
    border-radius: 4px;

}

   .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: var(--purple);
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card__searched:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }


  .artist-card__searched:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
}